timers {
    .list {
        margin-top: 30px;

        .item {
            font-size: 3rem;
            padding-top: 5px;

            .item-inner {
                border: 0px;
            }
        }

        ion-item-options .button {
            padding: 0 1.7em;
        }
    }
}
