timers {
    .list {
        margin-top: 30px;

        .item {
            font-size: 2.5rem;
            color: #A99378;
            padding-top: 8px;

            .item-inner {
                border: 0px;
            }
        }
    }
}
